.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.ds-input:not(textarea) {
  border-width: 0 0 1px 0;
  height: 28px;
  font-size: 16px;
  min-width: 150px;
}

.ds-dropdown.ds-flat .ds-title, .ds-dropdown.ds-flat  .ds-option {
  border-width: 0;
  height: 28px;
  font-size: 16px;
  min-width: 200px;
  padding: 2px;
  text-align: left;
}

.text_to_speech {
	position: unset!important;
}

.speech_to_text {
	position: unset!important;
}

.assistant {
  position: unset!important;
}

.option-disabled {
	background-color: #004065!important;
	color: #ababab;
	cursor: not-allowed!important;
}

p {
  font-size: 16px;
}

.thumbnail_div {
  width: 160px;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.tjbot {
  height: 150px;
  width: 150px;
  border: 1px solid darkblue;
  cursor: pointer;
}

.info_image {
  height: 100px;
  width: 100px;
}

.close_detail {
  height: 20px;
  width: 20px;
  float: right;
}

.card {
  float: left;
  width: 520px;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.logo_mini {
  height: 16px;
}

.table_div {
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 120px;
  background: white;
  padding: 2px;
  border-radius: 5px;
  width:200px;
}

.image_source {
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 84px;
  background: antiquewhite;
  padding: 2px;
  border-radius: 5px;
}

.image_nodejs {
  font-size: 14px;
  position: absolute;
  top: 36px;
  left: 104px;
  background: antiquewhite;
  padding: 2px;
  border-radius: 5px;
}

.image_npm {
  font-size: 14px;
  position: absolute;
  top: 64px;
  left: 104px;
  background: antiquewhite;
  padding: 2px;
  border-radius: 5px;
}

.image_os {
  font-size: 14px;
  position: absolute;
  top: 92px;
  left: 84px;
  background: antiquewhite;
  padding: 2px;
  border-radius: 5px;
}

.image_lightbulb {
  font-size: 14px;
  width: 24px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 40px;
  background: lightgreen;
  padding: 2px;
  border-radius: 50%;
}

.image_hand {
  font-size: 14px;
  width: 24px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 70px;
  background: lightgreen;
  padding: 2px;
  border-radius: 50%;
}

.tjbot_name {
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: antiquewhite;
  padding: 2px;
  border-radius: 5px;
}

.ds-text-neutral-4 {
  cursor: default;
}

.ds-text-neutral-8 {
  cursor: pointer;
}

.status.ds-text-neutral-8 {
  cursor: default;
}

.col_1 {
  width: 60px;
}

.col_2 {
  width: 106px;
}

.col_3 {
  width: 30px;
}

.detailinfo {
  position: fixed;
  display: none;
  width: 90%;
  height: 90%;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aliceblue;
  z-index: 2;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 1px;
}

/* colorpicker styles */
.picker {
  cursor: crosshair;
  float: left;
  margin: 10px;
  border: 0;
}

/* overlay (background) */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80,80,80,.20);
 }
 
 .overlay-content {
  background-color: #fefefe;
  margin: 7% auto;
  padding: 20px;
  height: 75%;
  width: 70%;
 }
 
 .overlay-img {
  border-radius: 40px;
  height: 80px;
  width: 80px;
 }
 
 .chathistory {
  height: 90%;
  overflow-y: auto;
 }
 
 .ds-icon-close:hover {
  cursor: pointer;
 }
 
 .ds-icon-trash:hover {
  cursor: pointer;
 }
 
 
 /* For tablets and middle sized screens: */
 @media only screen and (max-width: 780px) {
     .overlay-content {
      height: 90%;
      width: 85%;
     }
 
 }
 
 /* For tablets and middle, according to w3ds: */
 @media only screen and (max-width: 700px) {
     .overlay-content {
      height: 90%;
      width: 90%;
     }
 }
 
 
 /* For mobile phones and small screens, according to w3ds: */
 @media only screen and (max-width: 474px) {
     .overlay-content {
      margin: 0;
      height: 100%;
      width: 100%;
     }
 
     .overlay-img {
      border-radius: 30px;
      height: 60px;
      width: 60px;
     }
 
 }